.box-blue {
    background-color: lightblue;
    height: 60px;
    line-height: 60px;
    border: 1px solid black;
    text-align: center;
}

.box-green {
    background-color: greenyellow;
    height: 40px;
    border: 1px solid black;
}

.section-2,
.section-3 {
    margin-top: 50px;
}

/* SASSONE ヾ(⌐■_■)ノ♪🗿 */